{% extends '__templates/general.twig' %}
{% block additionalStyles %}{# <link rel="stylesheet" href="css/auth.css"/> #}
	{# <link rel="stylesheet" href="css/auth-form.css"/> #}
{% endblock %}
{% block content %}
	<div class="invididual-post-page container text-center">
		<div data-postid={{ post.getId() }}>
			<h3>{{ post.getTitle() }}</h3>
			<h4>{{ post.getUser().getUsername() }}</h4>
			<p>
				{{ post.getMainText() }}
			</p>


			<div>
			<h5>Comments</h5>
				{% for comment in post.getComments() %}
					<div data-postid={{ post.getId() }}>
						<div>
							<h6>{{ comment.getUser().getUsername() }}</h6>
							<p>
								{{ comment.getContent() }}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>

			<form method="POST" action={{"/post/#{post.getId()}/comment"}}>
				<textarea name="commentContent" cols="30" rows="10"></textarea>
				<input type="submit" value="Make Comment">
			</form>
		</div>
	</div>
{% endblock %}
